a{
  color: var(--azul-marinho);
  white-space: nowrap;
}

.active{
  color: var(--laranja);
}

.linkMobile{
  display: block;
  font-size: 1.4em;
  padding: 15px 0px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.linkMobile:hover{
  /*text-shadow: 1px 1px 20px var(--primary-color);*/
  color: var(--laranja);
}

.link{
  margin: 0px 10px;
  color: var(--azul-marinho);
  cursor: pointer;
  display: block;
}

.link:hover{
  /*text-shadow: 1px 1px 20px var(--azul-marinho);*/
  color: var(--laranja);

}


.dropdown{
  position: relative;
}

.dropdownButton{
cursor: pointer;
color: var(--azul-marinho);
margin: 0 10px;
}

.dropdownMob{
  position: relative;
  background-color: rgb(255, 255, 255);
  top: 100%;
  padding: 0px 10px;
  width: 100%;
  opacity: 1;
}

.dropdownMenu{
  position: absolute;
  background-color: rgb(235, 235, 235);
  border: 1px solid lightgray;
  top: 100%;
  padding: 0px 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.2s ease;
}

.dropdown:hover .dropdownMenu{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownMenu a {
  margin: 10px;
}

@media (max-width: 980px){
  .dropdownButton{
    display: none;
  }

}