.containerJogos{
  /*background-color: rgb(235, 235, 235);*/
  max-width: 1280px;
  min-height: 710px;
  border-radius: 10px;
  margin: 20px auto;
  border: 1px solid rgb(235, 235, 235);
  box-sizing: content-box;
}

.tabelaJogos{
  display: grid;
  /*flex-flow: wrap;*/
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

@media (max-width: 1280px){
  .tabelaJogos{
    grid-template-columns: 1fr 1fr;
  }
}



@media (max-width: 740px){
  .tabelaJogos{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 980px){
  .guia{
    margin: auto 20px;
  }
  .containerJogos{
    border-radius: 0px;
    background-color: #fff;
    margin: 0px;
    border: none;
  }
}